# BIPOLYZER Circadian Algorithm Environment Variables
# THIS IS JUST FOR EXAMPLE, I PUSH IT WITH CONSIDERATION.
# AND FOR REAL PRODUCTION, IT WILL BE IGNORED IN .gitignore !!
LOG_LEVEL=INFO
DATA_DIR=./data
BASELINE_DIR=./data/baselines
OUTPUT_DIR=./data/output
